<h1>Welcome to our Messenger</h1>

{{#if currentUser}}
<form action="/thread/findUser" method="GET">
  <input type="text" name="mytest" />
  <input type="submit" value="Search" />
</form>
    {{#each threads}}
    <article>
        <p>author: <a href="/profile/{{this.author.username}}">{{this.author.username}}</a></p>
        <p>User: {{this.title}}</p>
        <p>Content: {{this.content}}</p>
        <p>Message: {{this.messages}}</p>
        <p>posted on: {{this.date}}</p>
        <p><span>Likes: {{this.likes}} </span></p>
    </article>
    {{/each}}
{{/if}}

{{#each user.author}}
    <article>
        <p>author: <a href="/profile/{{this.author.username}}">{{this.author.username}}</a></p>
        <p>User: {{this.title}}</p>
        <p>Content: {{this.content}}</p>
        <p>Message: {{this.messages}}</p>
        <p>posted on: {{this.date}}</p>
        <p><span>Likes: {{this.likes}} </span></p>
    </article>
{{/each}}