{{#each threads}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>

  </div>
{{else}}
  <h2>No threads!</h2>
{{/each}}

<div class="font-3x">
  {{#if hasPrevPage}}
    <a href="/thread/list?page={{prevPage}}">&lt;&lt;</a>
    &nbsp; &nbsp; &nbsp;
  {{/if}}
  {{#if hasNextPage}}
    <a href="/thread/list?page={{nextPage}}">&gt;&gt;</a>
  {{/if}}
</div>